[submodule "external/CRCpp"]
	path = external/CRCpp
	url = https://github.com/d-bahr/CRCpp.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/slang"]
	url = https://github.com/shader-slang/slang.git
